@import url('https://fonts.googleapis.com/css?family=Calligraffitti');
@import url('https://fonts.googleapis.com/css?family=Clicker+Script');

.navbar {
    background: #06c;
    border-bottom: 1px solid floralwhite;
}

.navbar-brand {
    font-family: 'Calligraffitti', cursive;
    font-weight: bold;
}

.jumbotron {
    padding: 70px 30px;
    margin: 0 auto;
    background: #06c url(../img/sky.jpg) no-repeat center;
    background-size: cover;
    color: floralwhite;
}

.jumbotron h1 {
    font-family: 'Calligraffitti', cursive;
    font-weight: bold;
    font-size: 4vw;
    margin: 150px 0 150px 0;
}

.jumbotron #sub-header {
    font-family: 'Clicker Script', cursive;
    font-size: 2.5vw;
}

.row-header {
    margin: 0 auto;
    padding: 0 auto;
}

#about #profile-card {
    text-align: center;
}

#about #profile-card figcaption {
    padding-top: 20px;
    font-size: 1.5em;
}

.row-content {
    margin: 0 auto;
    padding: 50px 0 50px 0;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.row-footer {
    background: #06c;
    margin: 0 auto;
    padding: 20px 0 20px 0;
}

address {
    font-size: 80%;
    margin: 0;
    color: #0f0f0f;
}

address #email {
    color: #0f0f0f;
}

body {
    padding:50px 0px 0px 0px;
    z-index:0;
}

ol .badge {
    float: right;
}
